@media screen and (min-width: 840px) {
  .mybutton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 30px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: white;
    border: 3px solid rgb(238, 196, 91);
    padding: 4px;
    font-size: 90%;
    cursor: pointer;
    transition: background-color 0.15s;
    &:hover {
      background-color: rgb(238, 196, 91);
    }
  }
}

@media screen and (max-width: 840px) {
  .mybutton {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 3px solid rgb(238, 196, 91);
    padding: 4px;
    font-size: 90%;
    cursor: pointer;
    transition: background-color 0.15s;
    &:hover {
      background-color: rgb(238, 196, 91);
    }
  }
}
